* {
    margin: 0;
    padding: 0;
}
.carousel-item {
    padding: 8px;
}
body {
    background-color:slategrey;
}
h1 {
    text-align: center;
}
footer {
    bottom: 0;
    color: white;
    background-color:black;
    text-align: right;
    padding:8px;
}